* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(./img/back.png);
    background-size: cover;
    background-position: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

.wrapper {
    border-radius: 10%;
}

/* Players */

.player-name {
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: rgb(247, 144, 161);
    margin-bottom: 130px;
}

.active { background-color: #f3d9e1; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: rgb(247, 144, 161);
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: rgb(247, 144, 161);
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
	background-color: rgb(133, 133, 133);
	border-radius:4px;
	border: none;
	padding:6px 15px;
	text-decoration:none;
}

button:hover { 
    background-color:#555; 
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}
.btn-rules { top: 530px;}
.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.rules {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    background-color: rgb(133, 133, 133);
    color: #f7f7f7;
    max-width: 50%;
    border-radius: 10px;
    transition: 200ms ease-in-out;
}

.rules.active {
    transform: translate(-50%, -50%) scale(1);
}

.rules-header {
    padding: 20px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rules-header .title {
    font-size: 1,25rem;
    font-weight: bold;
}

.rules-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    width: 30px;
    padding: 1px;
    left: 90%;
}

.rules-body {
    padding:20px 30px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #FFC0CB; }
